body {
    display: flex;
    flex-direction: column;
    font-family: Helvetica, sans-serif;
    margin: 0;

}
.first {
    display: flex;
    flex-direction: column;
    background-color: #1F2937; 
    padding-left: 150px;
    padding-right: 150px;
    height: 400px;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.logo-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
} 
ul {
    list-style: none;
    display: flex;
    gap: 20px
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
.content-first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex: 1;
}

.main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    width: 350px;
}
.secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}
button {
    background-color: #3882F6;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    color: #F9FAF8;
    margin-top: 10px;
    width: 90px;
}
.right {
    width: 800px;
    height: 200px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second {
    display: flex;
    flex-direction: column;
    padding: 0 180px 100px 180px;
}
.info-header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}
.info-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.square {
    width: 180px;
    height: 180px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid #3882F6 ;

}
.item {
    text-align: center;

}
.secondary-text.two {
    width: 180px;
    color: #1F2937;
    margin-top: 10px;
    
}

/* THIRD CONTAINER */

.third {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB ;
    padding: 80px 180px;
}
.quote {
    color: #1F2937;
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;

}
.author{
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
}

.rectangle {
    width: 800px;
    height: 100px;
    background-color: #3882F6;
    display: flex;
    padding: 20px 80px;
    align-items: center;
    justify-content: space-between;
}
.left-fourth{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.button-fourth {
    border: solid;
    border-radius: 10px;
    border-color: #E5E7EB;
    color: #E5E7EB;
    background-color: #3882F6;
    width: 120px;
    height: 40px;
    margin: 0;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;

}
